<h1> Welcome manager</h1>
<form action ="/assign_task" method="post" >
<table border="0" width=700>
 <tbody>
  <tr>
   <td><b>Task</b></td>
   <td><b>Deadline</b></td>
   <td><b>Assignsto</b></td>
  </tr>

  <tr>

   <td><input type="text" name="title"/></td>
   <td><input type="text" name="deadline" id="date"/></td>
   <td><select name="emp_name">
         <% for i in @nam do %>
             <option value="<%= i[:name] %>"> <%= i[:name] %> </option>

         <% end %>

          </select>
   </td>

  </tr>
  <tr>
   <td> <input type="submit" value="submit"></td>
  </tr>
</tbody>
</form>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>  <!-- Javascript for Datepicker  --> 
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.5.3/jquery-ui.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
    			$("#date").datepicker({ showOn: 'button', buttonImageOnly: true, buttonImage: 'images/icon_cal.png' });
  		});
	</script>
