<h1> Welcome </h1>

<div class="link">
<table border="0" width=400>
<tbody>
	<tr>
		<td><a href="new_user">CREATE USER</a></td>
		<td><a href="manager" >ASSIGN TASK</a></td>
		<td><a href="screen_manager">VERIFY TASK</a></td>
	</tr>
</tbody>
</table>
</div>	

