<head ><center><b>USAGE</b></center></head>
<p>  The intended use of this application is for a manager to assign tasks to each of his employee. Each employee can update the status (open, working or closed) on the tasks assigned to him/her, which can be later verified by the manager. The application has two sections: employee section and managerial section. The latter is protected using basic HTTP authentication. </p>
<p><b> <u>Employee</u></b></p>
<p> From the home page, the EMPLOYEE link navigates to the employee section. Here, each employee can login using his/her username and password (they can be initially provided by the manager). On successful authentication, the employee can checkout the current tasks assigned to him/her, and simultaneously update the status of each task.</p>
<p><b> <u>Manager </u></b></p>
<p>From the home page, the MANAGER link navigates to the managerial section. Here, the manager can login using his/her username and password. On successful authentication, he can then continue to create a new employee, or assign a task to an existing one, or verify the status of a task already assigned to an employee. </p>
~                   
